{{#resume.basics}}
	{{#if summary}}
    <div id="about" class="box">
        <h2><i class="fa fa-user ico"></i> About</h2>
        <div class="achievement">
            <div class="details">
                <p>{{summary}}</p>
            </div>
        </div>
    </div>
	{{/if}}
{{/resume.basics}}