{{#resume.basics}}
    {{#with image}}
	<div id="photo-header">
		<div id="photo">
			<img src="{{{this}}}" alt="avatar">
		</div>
	</div>
	{{/with}}
	<div id="text-header">
		<h1>{{name}}<br>{{#if label}}<span>{{label}}</span>{{/if}}</h1>
	</div>
{{/resume.basics}}