<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
		
		<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<style type="text/css">{{{bootstrapcss}}}</style>
		<style type="text/css">{{{css}}}</style>
		<style type="text/css" media="print">{{{printcss}}}</style>
	</head>

	<body>
	<div class="container">
	<div class="row">
	<div class="col-xs-12 col-sm-7">
		{{> header }}
		{{> about }}
		{{> work }}
		{{> awards }}
		{{> volunteer }}
	</div>
	<div class="col-xs-12 col-sm-5">
	    {{> contact }}
		{{> education }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
	</div>
	</div>
    </div>
	</body>
</html>
